<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <link rel="stylesheet" href="bower_components/font-awesome-less/css/font-awesome.css">
    <link rel="stylesheet" href="style/main.css">
    <script src="//localhost:35729/livereload.js"></script>
</head>
<body ng-app="myApp">
<div class="wrapper" ng-controller="mainCtrl as ctrl">
    <div class="flex-row header">
        <div class="search">
            <input class="search-input" placeholder="Search here">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <a href="#" class="logo"><img src="image/logo.png"></a>

        <div class="personal">
            <a class="mail"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
            <a class="earth"><i class="fa fa-globe" aria-hidden="true"></i></a>
            <a class="settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="panel-content">
        <div class="flex-column panel-left">
            <div class="user-info" flex>
                <div class="circle"></div>
                <div class="user-name">
                    <strong>
                        <div>Welcome</div>
                        <div>Kathleen Martin</div>
                    </strong>
                </div>
            </div>
            <ul class="left-nav">
                <li class="tab-nav" ng-class="{active: tab.active}" ng-click="ctrl.toggleTab(tab)"
                    ng-repeat="tab in ctrl.tabs"><i class="fa {{tab.icon}}"
                                                    aria-hidden="true"></i><span>{{tab.name}}</span></li>
            </ul>
        </div>
        <div class="flex-column panel-main" flex>
            <div class="flex-row top" flex>
                <div class="nav" flex>
                    <button class="nav-button active">OVERVIEW</button>
                    <button class="nav-button">MY REPORTS</button>
                    <button class="nav-button">LEADERBOARD</button>
                    <button class="nav-button">MY PROJECTS</button>
                    <button class="nav-button">FORUM</button>
                    <button class="nav-button">SEARCH</button>
                </div>
            </div>
            <div class="flex-row middle" flex>
                <div class="block block-traffic">
                    <img src="image/graph.png">
                </div>
                <div class="block block-referrer">
                    <img src="image/referrer.png">
                </div>
                <div class="block block-bookings">
                    <img src="image/bookings.png">
                </div>
                <div class="block block-calendar">
                    <img src="image/calendar.png">
                </div>
                <div class="block block-task flex-row">
                    <div class="block-header">
                        <h2>Task</h2>
                        <div class="handle" flex>
                            <button class="nav-button active">
                                NEW
                            </button>
                            <button class="nav-button">
                                FINISHED TASKS
                            </button>
                        </div>
                        <div class="search-task"><input placeholder="Search Task"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </div>
                    <div class="block-body">
                        <div class="block-content block-row" flex>
                            <div class="" flex>
                                <i class="fa fa-check-circle icon-green" aria-hidden="true"></i>

                                <div class="content" flex>
                                    <div>
                                        <h3>Labore et dolore magrna aliqua</h3>

                                        <p>Ut eno, ad minim veniam</p>
                                    </div>
                                    <span class="btn-warning btn-sm">HIGH PRIORITY</span>
                                </div>

                            </div>
                            <div class="schedule-block">
                                <div class="odd">Mon, Apr 8</div>
                                <div class="even">2 Days</div>
                            </div>
                        </div>
                        <div class="block-content block-row" flex>
                            <div class="" flex>
                                <i class="fa fa-leaf icon-orange" aria-hidden="true"></i>

                                <div class="content" flex>
                                    <div>
                                        <h3>Labore et dolore magrna aliqua</h3>

                                        <p>Ut eno, ad minim veniam</p>
                                    </div>
                                </div>

                            </div>
                            <div class="schedule-block">
                                <div class="odd">Mon, Apr 8</div>
                                <div class="even">2 Days</div>
                            </div>
                        </div>
                        <div class="block-content block-row" flex>
                            <div class="" flex>
                                <i class="fa fa-wifi icon-cyan" aria-hidden="true"></i>

                                <div class="content" flex>
                                    <div>
                                        <h3>Labore et dolore magrna aliqua</h3>

                                        <p>Ut eno, ad minim veniam</p>
                                    </div>
                                </div>

                            </div>
                            <div class="schedule-block">
                                <div class="odd">Mon, Apr 8</div>
                                <div class="even">2 Days</div>
                            </div>
                        </div>
                    </div>
                    <!--<img src="image/task.png">-->
                </div>
            </div>
        </div>

    </div>
    <div class="flex-row bottom">
        <div>
            footer
        </div>
    </div>
</div>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="mainCtrl.js"></script>
</body>
</html>
