@white: #f5f5f5;
@white-light: #fdfdfd;
@dark: #32383d;
@black: #1a1e21;
@light-blue: #1ac6b4;
@gray-light: #cecece;
@gray-very-light: #fbfbfb;
@gray: #b1b1b1;
@green: #b4c61a;

html {
  //height: auto;
}

ul {
  padding: 0;
}

body {
  //flex-flow: row wrap;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  //flex-flow: row wrap;
  height: 100%;
  flex: 1 100%;
  flex-direction: column;
}

[flex] {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.header {
  display: flex;
  //flex: 1;
  align-items: center;
  height: 55px;
  background-color: @dark;
  justify-content: space-between;

  .search {
    //flex-grow: 1;
    margin: 20px;
    color: @gray-very-light;
    background-color: @black;
    border-radius: 15px;
    padding: 5px 10px;

    input {
      border: 0;
      background-color: @black;
      color: @gray-very-light;
      &:focus {
        outline: 0;
      }
    }
  }

  .logo {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    img {
      width: 40px;
      height: 40px;
    }
  }

  .personal {
    background-color: @black;
    display: flex;
    justify-content: flex-end;
    > a {
      i {
        font-size: 32px;
        color: @white-light;
        margin: 30px;
      }
    }
  }
}

.panel-left {
  width: 300px;
  min-width: 300px;
  background-color: @white;

  .user-info {
    margin: 10px 10px 0;

    align-items: center;
    .circle {
      margin-right: 10px;
      width: 70px;
      min-width: 70px;
      height: 70px;
      min-height: 70px;
      border-radius: 35px;
      background-color: @light-blue;
    }
  }
  .tab-nav:first-child {
    border-top: 1px solid @gray;
  }

  .left-nav {

    .tab-nav {
      border-bottom: 1px solid @gray;
      padding: 14px;

      &.active {
        background-color: @light-blue;
        color: @white;
      }
      .fa {
        font-size: 24px;
        padding-right: 10px;
      }

      &:hover {
        background-color: darken(@white, 10%);
        font-size: 18px;
        transition: color 0.3s, font-size 0.3s;
        &.active {
          background-color: lighten(@light-blue, 10%);
        }
      }
    }
  }
}

.panel-content {
  flex: 1 100%;
  flex-direction: row;
  display: flex;
}

.panel-main {
  flex: 1 100%;
  background-color: #fff;
  overflow-y: auto;

  .middle {
    display: inline-flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    .block {
      padding: 20px;
      margin: 0 0 0 10px;
      background-color: @gray-very-light;

      &.block-calendar {
        padding: 0;
      }
    }
    .block-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid @gray;
      >.handle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        >button {
          margin: 10px;
        }
      }

    }
  }
}

.top {
  align-items: center;

  .nav {
    font-weight: 800;
    color: #fff;
    margin-left: 0px;
    list-style: none;
    flex-wrap: wrap;

    .nav-button {
      padding: 10px;
      margin: 15px;
      border: 1px solid #ececec;

      a {
        text-decoration: none;

        &:visited, &:link {
          color: @dark;
        }

      }

      &:hover {
        background-color: darken(@white, 10%);
      }

    }
  }
}

.bottom {
  background-color: #fffb56;
}

ul {
  list-style: none;
}

.block-task {
  padding: 20px;

  .block-body {
    display: flex;
    flex-direction: column;
    margin: 30px 0;

    .fa {
      width: 50px;
      height: 50px;
      font-size: 64px;
      margin: 0 30px;
      &.icon-cyan {
        color: #1ac6b4;
      }
      &.icon-orange {
        color: #ff6000;
      }
      &.icon-green {
        color: @green;
      }
    }
    > div {
      align-items: center;
      flex-grow: 1;
    }

    .block-content {
      justify-content: space-between;

      .content {
        display: flex;
        align-items: flex-end;
      }
    }
    .schedule-block {
      display: flex;
      flex-direction: column;

      .block-content {
        justify-content: space-between;

        &.block-row {
          min-width: 300px;
        }
        .block-task {
        }
      }
      > div {
        padding: 5px 20px;
        border: 1px solid @gray-light;
        margin: 2px;
      }

      > .odd {
        background-color: @white-light;
      }
      > .even {
        background-color: @gray-light;
      }
    }
  }
}

.btn-warning {
  text-align: center;
  background-color: red;
  font-size: 1em;
  color: @white-light;
  padding: 6px;
  align-self: flex-start;
}

.nav-button {
  line-height: 24px;
  font-size: 1em;
  background-color: @white-light;
  color: @dark;;
  border: 1px solid @gray;

  &:hover {
    cursor: pointer;
  }
  &.active {
    background-color: @dark;
    color: @white-light;
  }
}

.search-task {
  display: flex;
  align-items: center;
  background-color: @white-light;
  align-self: center;
  padding: 10px;
  border: 1px solid @gray;
  > input {
    border: 0;
    &:focus {
      outline: 0;
    }
  }
}