ul {
  padding: 0;
}
body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.wrapper {
  display: flex;
  height: 100%;
  flex: 1 100%;
  flex-direction: column;
}
[flex] {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #32383d;
  justify-content: space-between;
}
.header .search {
  margin: 20px;
  color: #fbfbfb;
  background-color: #1a1e21;
  border-radius: 15px;
  padding: 10px;
}
.header .search input {
  border: 0;
  background-color: #1a1e21;
  color: #fbfbfb;
}
.header .search input:focus {
  outline: 0;
}
.header .logo {
  flex-grow: 0;
  display: flex;
  justify-content: center;
}
.header .logo img {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}
.header .personal {
  background-color: #1a1e21;
  display: flex;
  justify-content: flex-end;
}
.header .personal > a i {
  font-size: 42px;
  color: #fdfdfd;
  margin: 40px;
}
.panel-left {
  width: 300px;
  min-width: 300px;
  background-color: #f5f5f5;
}
.panel-left .user-info {
  margin: 10px 10px 0;
  align-items: center;
}
.panel-left .user-info .circle {
  margin-right: 10px;
  width: 70px;
  min-width: 70px;
  height: 70px;
  min-height: 70px;
  border-radius: 35px;
  background-color: #1ac6b4;
}
.panel-left .tab-nav:first-child {
  border-top: 1px solid #b1b1b1;
}
.panel-left .left-nav .tab-nav {
  border-bottom: 1px solid #b1b1b1;
  padding: 14px;
}
.panel-left .left-nav .tab-nav.active {
  background-color: #1ac6b4;
  color: #f5f5f5;
}
.panel-left .left-nav .tab-nav .fa {
  font-size: 24px;
  padding-right: 10px;
}
.panel-left .left-nav .tab-nav:hover {
  background-color: #dcdcdc;
  font-size: 18px;
  transition: color 0.3s, font-size 0.3s;
}
.panel-left .left-nav .tab-nav:hover.active {
  background-color: #2fe4d1;
}
.panel-content {
  flex: 1 100%;
  flex-direction: row;
  display: flex;
}
.panel-main {
  flex: 1 100%;
  background-color: #fff;
  overflow-y: auto;
}
.panel-main .middle {
  display: inline-flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.panel-main .middle .block {
  padding: 20px;
  margin: 0 0 0 10px;
  background-color: #fbfbfb;
}
.panel-main .middle .block.block-calendar {
  padding: 0;
}
.panel-main .middle .block-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b1b1b1;
}
.panel-main .middle .block-header > .handle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-main .middle .block-header > .handle > button {
  margin: 10px;
}
.top {
  align-items: center;
}
.top .nav {
  font-weight: 800;
  color: #fff;
  margin-left: 0px;
  list-style: none;
  flex-wrap: wrap;
}
.top .nav .nav-button {
  padding: 10px;
  margin: 15px;
  border: 1px solid #ececec;
}
.top .nav .nav-button a {
  text-decoration: none;
}
.top .nav .nav-button a:visited,
.top .nav .nav-button a:link {
  color: #32383d;
}
.top .nav .nav-button:hover {
  background-color: #dcdcdc;
}
.bottom {
  background-color: #fffb56;
}
ul {
  list-style: none;
}
.block-task {
  padding: 20px;
}
.block-task .block-body {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
.block-task .block-body .fa {
  width: 50px;
  height: 50px;
  font-size: 64px;
  margin: 0 30px;
}
.block-task .block-body .fa.icon-cyan {
  color: #1ac6b4;
}
.block-task .block-body .fa.icon-orange {
  color: #ff6000;
}
.block-task .block-body .fa.icon-green {
  color: #b4c61a;
}
.block-task .block-body > div {
  align-items: center;
  flex-grow: 1;
}
.block-task .block-body .block-content {
  justify-content: space-between;
}
.block-task .block-body .block-content .content {
  display: flex;
  align-items: flex-end;
}
.block-task .block-body .schedule-block {
  display: flex;
  flex-direction: column;
}
.block-task .block-body .schedule-block .block-content {
  justify-content: space-between;
}
.block-task .block-body .schedule-block .block-content.block-row {
  min-width: 300px;
}
.block-task .block-body .schedule-block > div {
  padding: 5px 20px;
  border: 1px solid #cecece;
  margin: 2px;
}
.block-task .block-body .schedule-block > .odd {
  background-color: #fdfdfd;
}
.block-task .block-body .schedule-block > .even {
  background-color: #cecece;
}
.btn-warning {
  text-align: center;
  background-color: red;
  font-size: 1em;
  color: #fdfdfd;
  padding: 6px;
  align-self: flex-start;
}
.nav-button {
  line-height: 24px;
  font-size: 1em;
  background-color: #fdfdfd;
  color: #32383d;
  border: 1px solid #b1b1b1;
}
.nav-button:hover {
  cursor: pointer;
}
.nav-button.active {
  background-color: #32383d;
  color: #fdfdfd;
}
.search-task {
  display: flex;
  align-items: center;
  background-color: #fdfdfd;
  align-self: center;
  padding: 10px;
  border: 1px solid #b1b1b1;
}
.search-task > input {
  border: 0;
}
.search-task > input:focus {
  outline: 0;
}
